.deal-create {
  width: 550px;
  border: 2px solid gray;
  border-radius: 5px;
  background-color: rgb(255, 253, 251);
  align-items: center;

  border-radius: 8px;

  padding-bottom: 30px;
}

.resources22 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}
.deal-input-container {
  width: 70%;
  display: inline-table;
}

.deal-input-label {
  float: left;
  height: 20px;
  padding: 5px 0px 5px 0px;
}

.deal-inputs {
  float: right;
}

.deal-input-select {
  height: 35px;
  width: 195px;
  float: right;
  border-radius: 5px;
  background: white;
  box-shadow: 0 1px 3px -2px #9098a9;
  cursor: pointer;
  display: -ms-inline-grid;
}

.deal-addresource-container {
  width: 70%;
  display: inline-table;
}

.deal-addresource-label {
  display: flex;
  align-items: flex-end;
  color: green;
  font-weight: 700;
  font-size: 20px;
}

.resource-icon {
  height: 25px;
  width: 30px;
  cursor: pointer;
}

.job-image {
  background-image: url(../images/Job_Info.png);
  background-position: inherit;
  background-size: cover;
  opacity: 0.9;
  font-weight: 700;
  color: white;
}

.Em-image {
  background-image: url(../images/Emergency_Contact.png);
  background-position: inherit;
  background-size: cover;
  opacity: 0.9;
  font-weight: 700;
  color: green;
}

.address-image {
  background-image: url(../images/houseAddress1.png);
  background-position: inherit;
  background-size: cover;
  opacity: 0.9;
  font-weight: 700;
  color: black;
  background-color: gray;
}

.payroll-image {
  background-image: url(../images/payroll1.PNG);
  background-position: inherit;
  background-size: cover;
  opacity: 0.9;
  font-weight: 700;
  color: black;
}
